{
  "type": "postgres",
  "host": "",
  "port": 5432,
  "username": "",
  "password": "",
  "database": "cca",
  "synchronize": false,
  "logging": false,
  "entities": [
    "dist/entities/**/*.js"
  ],
  "migrationsTableName": "migrations",
  "migrations": [
    "dist/migrations/**/*.js"
  ],
  "cli": {
    "migrationsDir": "migrations"
  }
}