{
   "type": "pg",
   "host": "",
   "port": 5432,
   "username": "",
   "password": "",
   "database": "",
   "synchronize": false,
   "logging": false,
   "entities": [
      "dist/entities/**/*.js"
   ],
   "migrations": [
      "dist/migration/**/*.js"
   ],
   "subscribers": [
      "dist/subscriber/**/*.js"
   ]
}